.buttonPill {
    background: #f1fce0;
    color: black;
    border: 1px solid black;
    border-radius: 100px;
    padding: 0.8rem 1.5rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
}